* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #e7e7ed;
}

div,
span,
button {
	font-family: Arial, Helvetica, sans-serif;
}
